@model CS4790A2.Models.CourseAndSections

@{
    ViewBag.Title = "Course and Sections Details";
}

<h2>Course and Sections Details</h2>

<div>
    <h4>Course Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.course.courseNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.course.courseNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.course.courseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.course.courseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.course.creditHours)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.course.creditHours)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.course.maxEnrollment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.course.maxEnrollment)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.course.id}) |
    @Html.ActionLink("Back to List", "Index")
</p>

<!--TABLE-->
<div>
    <h4>Sections Details</h4>
    <hr />
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.sections[0].sectionID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sections[0].sectionNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sections[0].courseNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sections[0].sectionDays)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sections[0].sectionTime)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.sections)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.sectionID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.sectionNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.courseNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.sectionDays)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.sectionTime)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.id })
                </td>
            </tr>
        }

    </table>
        </div>
    <p>
        @Html.ActionLink("Create New Section", "Create", "Section")
    </p>